<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<form th:action="@{/}" method="get">
    <button type="Submit">Go To Login Page</button>
</form>
<div>
    <div>
        <div>
            <form class="form-4" autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" role="form">
                <h2>Registration Form</h2>
                <div >
                    <div >
                        <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{userName}" placeholder="Name"/>
                    </div>
                </div>
                <div >
                    <div >
                        <input type="password" th:field="*{password}"
                               placeholder="Password" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                    </div>
                </div>
                <div >
                    <div >
                        <button type="submit">Register User</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>
